#logo{
	position: relative;
	max-width: 14%;
	top: 10%;
	left: 0%;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

#message{
	resize:none;
}

#nerdheader1{
	position: relative;
	top: 10%;
	left: 33%;
}

.glyphicon-2x {
    font-size: 32px;
}

#none{
	all: none;
}

.frontpagejobdesc{
	height: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
}
