{% extends "need_a_nerd_base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
{% if jobs %}

	<form id='searchjobs'>
		<br/>
		<label for="jobsearchstr" class="control-label">Keyword Search: Search job name, employer, description, or skills (partial searches accepted)</label>
		<div class="row">	
			<div class="col-md-4">
				<p>
					<input type=text id='jobsearchstr' onkeydown=searchJobs(''+document.getElementById("jobsearchstr").value+'') placeholder="Software Engineer" />
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-primary" type=submit >Show All Jobs</button>
			</div>
		</div>
		<br />
	</form>
	<br />
	
	<div class="table-responsive">
	<table id='applyjobstable' class="table table-striped table-hover table-responsive">
	<tr>
		<th>Details</th>
    	<th>Name</th>
        <th>Employer</th>
           	<th class="visible-md visible-lg">Salary</th>
        	<th class="visible-sm visible-md visible-lg">Apply</th>
        	<th class="visible-md visible-lg">Posting Date</th>
        </span>
	</tr>
	{% for j in jobs %}
    	<tr width="100%" onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        	<td class="visible-sm visible-md visible-lg"><button class="btn btn-primary" onclick="window.open('/jobs/{{j.pk}}/')">Show Details</button>
        	<td class="visible-xs"><button class="btn btn-primary" onclick="window.open('/jobs/{{j.pk}}/')">Details</button>
        	<td>{{j.name}}</td>
        	<td><a href='/employers/{{j.employer.userprofile.user.pk}}/'>{{j.employer.company_name}}</a></td>
	        	<td class="visible-md visible-lg">{{j.salary}}</td>
	        	{% if student.userprofile.student in j.applicant.all %}
	        		<td class="visible-sm visible-md visible-lg"><button class="btn btn-success" id=jobid_{{j.pk}} disabled=True>Applied</button></td>
	        	{% else %}
	        		<td class="visible-sm visible-md visible-lg"><button class="btn btn-primary" id=jobid_{{j.pk}} onClick="applyJob(objective='{{resume.objective|length}}', email='{{student.email|length}}', major='{{student.userprofile.student.currentmajor|length}}', jobid={{j.pk}}, studentid={{student.pk}})">Apply</button></td>
	        	{% endif %}        	
	        	<td class="visible-md visible-lg">{{j.updated_at|date:'b d Y '|upper}}</td>
    	</tr>
	{% endfor %}
	</table>
	</div>
	<small>
	<p id="top10" class="text-left"></p>
	</small>
<div id="pagination" class="pagination">
<span class="step-links">
        {% if jobs.has_previous %}
            <a href="?page={{ jobs.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?page={{ jobs.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% else %}
    There are no students listed in the database.
{% endif %}
{% endblock %}
