{% extends "need_a_nerd_base.html" %}
{% load i18n %}


{% block content %}

<div class="text-center">
	<h1>{% trans "Password reset" %}</h1>
	
	<p>{% trans "Forgotten your password? Enter your e-mail address below, <br />and we'll e-mail instructions for setting a new one." %}</p>
	
	<form action="" method="post">{% csrf_token %}
	{{ form.email.errors }}
	<p>
		<label for="id_email">{% trans 'E-mail address:' %}</label>
	<br/>
		{{ form.email }}
	<br/>
	<br/>
		<button type="submit" class="btn-lg btn-primary">
			<span class="glyphicon glyphicon-ok-sign"></span> {% trans 'Reset my password' %}	
		</button>
		
	</p>
	</form>
</div>
{% endblock %}
