{% extends "need_a_nerd_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<div class="text-center">
	<br/><br/><br/>
	<h3>{% trans 'An email was sent to your inbox with your credentials' %}</h4>
	<h5>{% trans 'If you did not receive an email contact Need a Nerd' %}</h5>
	
	<p>{% trans "Go back to the <a href='/accounts/login/'>login page</a><br /><br /><br /><br />" %}</p>
</div>
{% endblock %}
