{% extends "need_a_nerd_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

<div class="text-center">

	{% if validlink %}
	
	<br/>
	<h3>{% trans 'Create new password' %}</h3>
	
	<br/>
	
	<form action="" method="post">{% csrf_token %}
	{{ form.new_password1.errors }}
	<p class="aligned wide">
		<label for="id_new_password1">{% trans 'New Password:&nbsp;' %}</label>
		</br>
		{{ form.new_password1 }}
	</p>
	{{ form.new_password2.errors }}
	<p class="aligned wide">
		<label for="id_new_password2">{% trans 'Confirm Password:&nbsp;' %}</label>
		<br/>
		{{ form.new_password2 }}
	</p>
	<p>
	<button type="submit" class="btn-lg btn-primary">
		<span class="glyphicon glyphicon-ok-sign"></span> {% trans 'Change My Password' %}	
	</button>
	</p>
	</form>
	
	{% else %}
	
	<h1>{% trans 'Password reset unsuccessful' %}</h1>
	
	<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
	
	{% endif %}

</div>

{% endblock %}
