{% extends "need_a_nerd_base.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
{% if student %}
	<table class=profile>
	<tr width="100%">
    	<th>Name:</th>
    	<td>{{student.first_name}} {{student.last_name}}</a></td>
    </tr>
	<tr width="100%">
    	<th>Username:</th>
    	<td>{{student.username}}</a></td>
    </tr>
	<tr width="100%">
    	<th>Email:</th>
    	<td>{{student.email}}</a></td>
    </tr>	
	</table>
	{% if resume %}
			{% if degrees %}
				<div style='font-style:italic;'>
				<p>Educational Background:</p>
				</div>
				<table class="needanerd">
				<tr width="100%">
			    	<th>Degree</th>
			        <th>Major</th>
			        <th>University</th>
			        <th>Date</th>
			        <th>G.P.A.</th>
			        <th>Honors</th>
			        {% ifequal user.pk student.pk %}
						<th>Edit</th>
						<th>Remove</th>
				    {% endifequal %}
				</tr>
					{% for d in degrees %}	
						<tr width="100%" onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
				        	<td>{{d.degreetype}}</td>
				        	<td>{{d.major}}</td>
				        	<td>{{d.university}}</td>
				        	<td>{{d.date}}</td>
				        	<td>{{d.gpa}}</td>
				        	<td>{{d.honors}}</td>
				        	{% ifequal user.pk student.pk %}
								<td><input type=button value="Edit" onclick=window.location='/resumes/{{resume.pk}}/degrees/edit/{{d.pk}}/' /></td>
								<td><input type=button value="Delete" onclick="confirmDeleteDegree({{resume.pk}},{{d.pk}})" /></td>
				    		{% endifequal %}		        	
				    	</tr>
				    {% endfor %}
				</table>
				<br />
			{% else %}
			<p>
			<div style='font-weight: bold;'>Educational Background:</div> 
			<div>No degrees currently on file</div>
			</p>
		{% endif %}
		<div style='font-weight: bold;'>
		{{student.first_name}}'s Resume:
		</div>
		<div class='resumebody'>
		{{resume.body}}
		</div>
		{% block acctmanagement %}
		{% ifequal user.userprofile.student.pk student.userprofile.student.pk %}
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;<a href='/resumes/{{resume.pk}}/degrees/add/'>Add Degree</a>
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;<a href="/resumes/edit/{{resume.pk}}/" >Edit Resume Body</a>
			<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;<a href="#" onclick="confirmDeleteResume({{user.pk}})">Delete Resume</a>	
		{% endifequal %}
		{% endblock %}
	{% endif %}	
{% endif %}
{% endblock %}
