{% extends "need_a_nerd_base.html" %}

{% block title %}Employer{% endblock %}

{% block content %}

<br /><br />

{% if jobs %}
	<div>
	<p>Jobs Listed By {{employer.userprofile.employer.company_name}}</p>
	</div>
	<div class="table-responsive">
	<table class="table table-striped table-hover table-responsive">
	<tr width="100%">
    	<th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Salary</th>
	    <th>Updated</th>
	    {% ifequal user.userprofile.employer.pk employer.userprofile.employer.pk %}
	    	<th>Applicants</th>
	    	<th>Released?</th>
	    	<th>Edit</th>
	    	<th>Remove</th>
	    {% endifequal %}
	    
	</tr>
		{% for j in jobs %}	
		
			<tr id=row_{{j.pk}}>
	        	<td><a href='/jobs/{{j.pk}}/'>{{j.name}}</a></td>
	        	<td>{{j.startdate|date:'F, Y'}}</td>
	        	{% if j.enddate %}
	        		<td>{{j.enddate|date:'F, Y'}}</td>
	        	{% else %}
	        		<td>N/A</td>
	        	{% endif %}
	        	{% if j.salary %}
	        	<td>{{j.salary}}</td>
	        	{% else %}
	        	<td>N/A</td>
	        	{% endif %}
	        	<td>{{j.updated_at|date:'b d Y'|upper}}</td>
	        	{% ifequal user.userprofile.employer.pk employer.userprofile.employer.pk %}
	        		<td><a href='/jobs/{{j.pk}}/applicants/'>Show Applicants</a></td>
	        		{% if j.released %}
       					<td>Yes</td>
     					{% else %}
       					<td>No</td>
   					{% endif %}
	        		<td><button class="btn btn-primary" type=submit onclick="window.location='/jobs/edit/{{j.pk}}/'" >Edit</button></td>
	        		<td><button class="btn btn-danger" type=submit onclick="deleteJob( {{j.pk}} )" >Delete</button></td>
	        	{% endifequal %}		        			        	
	    	</tr>
	    {% endfor %}
	</table>
	</div>
{% else %}
	<p>This employer does not currently have any jobs listed</p>	
{% endif %}
<br>
<a href="/jobs/add/">Add a new job</a>
<br></br>

{% endblock %}
