{% extends "need_a_nerd_base.html" %}

{% block title %}Register Employers{% endblock %}

{% block content %}

<br/>
{% if form.errors %}
	<br/>
    {% for field in form %}
        {% for error in field.errors %}
           		<div class="alert alert-danger">
                <strong>{{ error }}</strong>
                {% if "retrieve" in error %}
                	<a href="{{BASE_URL}}/accounts/password/reset/">Retrieve Password</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
     		<div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form action="/employers/register/" method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn-lg btn-primary">
	<span class="glyphicon glyphicon-ok-sign"></span> Confirm	
</button>
</form>
{% endblock %}